/* You can add global styles to this file, and also import other style files */

body{
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background.png');
   
    background-size: cover;
    background-position: center 80%;
  

    font-family: 'Poppins', sans-serif;;
}

